<html lang="en">
<link rel="stylesheet" href="stylesheets/style.css" />
<body>
    <div class="flexbox">
    <% urls_array.forEach(function(urls, key){ %>
        <div class="item">
            <a href="<%= urls['link_url'] %>">
            <img src="<%= urls['image_url'] %>" />
            </a>
        </div>
    <% }) %>
    </div>
</body>
</html>